:root {
	--white_envelope: #1b1b1b;
	--gold_envelope: url(../img/gold_texture.png) #e3ca6f;
	--white_paper_up: #000000;
	--gray: #a38000;
	--gold: #a38000;
	--time-chrome: 8s;
}

body {
	width: 100%;
	margin: 0;
	background: var(--white_envelope);
	overflow-y: hidden;
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	font-size: 0.7vw;
	z-index: 0;

	/* Safari requiere separación de calc() en animaciones */
	-webkit-animation-name: bodyScroll;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-delay: calc(8s - var(--time-chrome));
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;

	animation-name: bodyScroll;
	animation-duration: 0.1s;
	animation-delay: calc(8s - var(--time-chrome));
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


@media (max-width: 2300px) {
	body {
		font-size: 0.7vw;
	}
}

@media (max-width: 2100px) {
	body {
		font-size: 0.7vw;
	}
}

@media (max-width: 1100px) {
	body {
		font-size: 1vw;
	}
}

.contador {
	position: fixed;
}

.imgPortada {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 108);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--white_paper_up);
	background-image: url(../img/galeria/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* Declarar después del background-image */

	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* Evita parpadeo en Safari */
	backface-visibility: hidden;

	-webkit-box-shadow: inset 0 -2px 6px -1px black;
	box-shadow: inset 0 -2px 6px -1px black;

	-webkit-animation-name: appear;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: calc(9.5s - var(--time-chrome));
	-webkit-animation-fill-mode: forwards;

	animation-name: appear;
	animation-duration: 1.5s;
	animation-delay: calc(9.5s - var(--time-chrome));
	animation-fill-mode: forwards;
}


@media (min-width: 800px) {
	.imgPortada {
		background-color: var(--white_paper_up);
		background-image: url(../img/galeria/4.jpg);
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.od .imgPortadaFalse {
	height: calc(var(--vh) * 108);
	width: 100%;
	background-color: transparent;
	background-size: cover;
}

.letter {
	height: calc(var(--vh, 1vh) * 108);
	width: 100%;
	background-color: #580000;
	position: relative;
}

.sticky_effect {
	position: relative;
	top: calc(var(--vh, 1vh) * (-38));
	height: calc(var(--vh, 1vh) * 146);
	width: 100%;
}

.nombre {
	display: flex;
	justify-content: center;
	/* Centro horizontal */
	align-items: center;
	/* Centro vertical */
}

.mari {
	max-width: 60%;
	/* Se ajusta al ancho del contenedor */
	height: auto;
	/* Mantiene la proporción */
}

.sobre_o {
	max-width: 50%;
	/* Se ajusta al ancho del contenedor */
	height: auto;
	/* Mantiene la proporción */
}

.deco {
	max-width: 100%;
	/* Se ajusta al ancho del contenedor */
	height: auto;
	/* Mantiene la proporción */
}

.dress {
	max-width: 40%;
	/* Se ajusta al ancho del contenedor */
	height: auto;
	/* Mantiene la proporción */
}

.letter_content {
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	position: -webkit-sticky;
	/* Necesario para Safari */
	position: sticky;
	top: 0;
	/* Ajustado para que pegue al tope en Safari móvil */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.div_svg {
	position: absolute;
	transform-box: fill-box;
}

.div_marco {
	width: calc(100% - 8em);
	height: max(calc(95% - 4vw), 90.7%);
	top: min(calc(36px + 4vw), 75px);
	left: 4em;
}

.div_nombre_mavi {
	width: 100%;
	top: 0;
	height: calc(12% + 8vw);
	max-height: 195px;
}

.div_mis_quince {
	width: 80%;
	max-width: 500px;
	top: calc(var(--vh, 1vh) * 11);
	left: max(10%, calc((100% - 500px) / 2));
	height: 30vw;
	max-height: 249px;
}

#marco_gold {
	opacity: 0;
}

.mask_mavi {
	fill: none;
	stroke: #fff;
	stroke-width: 40;
	stroke-linejoin: round;
	stroke-linecap: round;
	/* Forzar aceleración de hardware */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.write1 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	/* Desglose para Safari */
	-webkit-animation-name: animate-mavi;
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: calc(9.3s - var(--time-chrome));
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;

	animation-name: animate-mavi;
	animation-duration: 3.5s;
	animation-delay: calc(9.3s - var(--time-chrome));
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.write2 {
	stroke-dasharray: 6000;
	stroke-dashoffset: 6000;

	-webkit-animation-name: animate-mavi;
	-webkit-animation-duration: 4.5s;
	-webkit-animation-delay: calc(11.8s - var(--time-chrome));
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;

	animation-name: animate-mavi;
	animation-duration: 4.5s;
	animation-delay: calc(11.8s - var(--time-chrome));
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

#mavi_white {
	fill: #ffffff;
}

#mavi_gold {
	fill: var(--gold);
	opacity: 0;
}

#mis_quinces {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-animation-name: appear;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-delay: calc(12.8s - var(--time-chrome));
	-webkit-animation-fill-mode: forwards;

	animation-name: appear;
	animation-duration: 2.5s;
	animation-delay: calc(12.8s - var(--time-chrome));
	animation-fill-mode: forwards;
}

#mis_quinces path {
	fill-rule: evenodd;
	stroke-width: 0;
}

#mis_quince_gold {
	fill: var(--gold);
	opacity: 1;
}

#mis_quince_gray {
	fill: var(--gray);
	opacity: 0;
}

.information {
	width: 85%;
	height: max(60%, calc(72% - 12vw));
	position: absolute;
	left: 7.5%;
	bottom: 30px;
	display: flex;
	flex-direction: column;
}

.scroll {
	width: 100%;
	overflow: hidden;
	flex: 1;
}

.sections {
	width: 500%;
	height: 100%;
	transition: transform 0.8s ease;
}

.fondo1 {
	background-image: url(/assets/img/galeria/4.jpg);
	/* Reemplaza 'tu-imagen.jpg' con la ruta de tu archivo */
	background-size: cover;
	/* Escala la imagen para cubrir toda la sección */
	background-position: center;
	/* Centra la imagen */
	background-repeat: no-repeat;
	/* Evita que la imagen se repita */
	color: white;
	/* Color de texto para que se vea sobre la imagen */
	padding: 50px;
	/* Espaciado dentro de la sección */
	text-align: center;
	/* Centra el texto */
	height: 400px;
	/* Altura de la sección */

}

section {
	height: 100%;
	width: 20%;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/*  Dentro Section  */
.line {
	border-top: solid max(3px, 0.3vw) var(--gold);
	width: min(calc(var(--vh) * 44), 70%);
	flex: 6 0 auto;
}

.espacio_cuenta_regresiva {
	flex: 4 0 auto;
}

.cuenta-regresiva {
	width: calc(var(--vh) * 10.8);
	height: calc(var(--vh) * 10.8);
	padding: calc(var(--vh) * 3.24);
	border: solid 3px var(--gold);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cuenta-regresiva p {
	font-size: calc(var(--vh) * 2.16);
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	;
	color: black;
	margin: 0;
	margin-top: calc(var(--vh) * 0.432);
	line-height: 1.4;
}

.fade-in-text {
font-family: "Palatino Linotype", "Palatino", "URW Palladio L", "Book Antiqua", serif;
  font-size: min(65px, 9vw);
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease-in-out 10s forwards;
  color: rgb(255, 255, 255);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); } /* Añade un leve movimiento hacia arriba */
  to { opacity: 1; transform: translateY(0); }
}


header {
	width: 90%;

	font-size: min(50px, 8vw);
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	font-weight: 400;
	color: rgb(168, 151, 0);
	flex: 2 0 auto;
}

.box {
	margin: 18px 2%;
	font-size: min(4.6vw, 38px);
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	font-weight: 400;
	color: var(--gray);
	text-align: center;
}

section p {
	font-size: min(4.7vw, 38px);
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	font-weight: 400;
	color: rgb(255, 255, 255);

	margin: 0;
	flex: 3 0 auto;
}

.espacio_btn {
	flex: 8 0 auto;
}

.section_clock .espacio_btn {
	flex: 3 0 auto;
}

.btn {
	font-size: min(4.2vw, 28px);
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	font-weight: 400;
	color: var(--gray);

	display: inline-block;
	font-weight: 400;
	font-family: "Brush Script MT", "Lucida Handwriting", cursive;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: min(3.5vw, 30px);
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	color: white;
	background-color: var(--gold);
	border-radius: 30px;
	padding: 10px 40px;
	border: 1px solid var(--gold);
	text-decoration: none;
}

.btn:hover {
	color: var(--gold);
	background-color: white;
}

.container {
	width: min(calc(var(--vh) * 41.04), 95%);
	flex: 6 0 auto;
}

.row {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

section.galeria .item-galeria {
	padding: 0 1.5%;
	margin-bottom: 3%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 47%;
	position: relative;
	width: 100%;
}

section.galeria .item-galeria a img {
	transition: all 0.3s ease-out;
	border-radius: 10px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
	border-style: none;
}

section.galeria .item-galeria a:hover img {
	transform: scale(1.1);
	position: relative;
	z-index: 999;
}

.fancybox-bg {
	background-color: #443603fa !important;
}

/*  Nav  */
nav {
	z-index: 0;
	height: 10%;
	width: 100%;
}

ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav_a,
.nav_a:visited,
.nav_a:active {
	text-decoration: none;
	color: #b68e00;
}

.nav_a {
	transition: color 2s, background-color 1s, font-weight 1s;
	padding: 10px 12px;
	position: relative;
	z-index: 0;
	font-size: 22px;
	font-weight: 400;
	border-radius: 5%;
	background-color: #8b0000;
}

a.active {
	background-color: var(--gray);
	color: #ffffff;
	font-weight: 500;
}

.nav_a::before {
	content: "";
	position: absolute;
	height: 0%;
	width: 0%;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: var(--gold);
	z-index: -1;
}

.imgPortada,
.div_nombre_mavi,
#mis_quinces {
	/* Esto obliga a Safari a mantener el elemento en la GPU */
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@media (min-width: 700px) {
	.nav_a:hover {
		-webkit-animation: fillColour 0.7s forwards ease-in-out;
		-o-animation: fillColour 0.7s forwards ease-in-out;
		-moz-animation: fillColour 0.7s forwards ease-in-out;
		animation: fillColour 0.7s forwards ease-in-out;

		background-color: transparent;
	}

	.active:hover {
		-webkit-animation: fillColour2 0.7s forwards ease-in-out;
		-o-animation: fillColour2 0.7s forwards ease-in-out;
		-moz-animation: fillColour2 0.7s forwards ease-in-out;
		animation: fillColour2 0.7s forwards ease-in-out;
	}

	.nav_a:hover::before {
		-webkit-animation: fill 0.7s forwards ease-in-out;
		-o-animation: fill 0.7s forwards ease-in-out;
		-moz-animation: fill 0.7s forwards ease-in-out;
		animation: fill 0.7s forwards ease-in-out;

		opacity: 1;
	}
}

.myLink {
	position: absolute;
	bottom: 5px;
	font-size: min(17px, calc(calc(var(--vh) * 1.08) + 1vw));
	width: 100%;
	text-align: center;
	background-color: transparent;
}

.myLink a {
	text-decoration: none;
	color: var(--gray);
}

@-webkit-keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes bodyScroll {
	to {
		overflow-y: auto;
	}
}

@-webkit-keyframes animate-mavi {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes animate-mavi {
	from {
		stroke-dashoffset: 6000;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes animate-mavi {
	from {
		stroke-dashoffset: 6000;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	70% {
		width: 100%;
		height: 2px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: var(--gold);
	}
}

@keyframes fillColour {
	0% {
		color: var(--gold);
	}

	50% {
		color: var(--gold);
	}

	100% {
		color: var(--gray);
	}
}

@keyframes fillColour2 {
	0% {
		color: var(--gold);
	}

	50% {
		color: var(--gold);
	}

	100% {
		color: #ffffff;
	}
}
